
divmenu {position: fixed; background-color: #ADD8E6; width: 100%; height: 30px; margin: -8px 0px 0px -8px;}
LightSkyBlue{color: #ADD8E6; font-weight: bold;}
red { color: #ADD8E6; }
redbold { color: #ADD8E6; font-size: 1.2em; font-weight: bold; }
// table ,td, th { border: 1px solid black; border-collapse: black; }
